* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Briem Hand", cursive;
    background-color: #000;
  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .metrics,
  .analytics {
    width: 80%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .metrics-container {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
  }
  
  .metric {
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin: 0 10px;
  }
  
  .analytics-chart {
    height: 300px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 20px;
  }